/*
 *  In-depth course content type
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// Main settings
// -------------------------
.node-in-depth-course.view-mode-full {
  padding: @pxl-node-padding;

  .row {
    margin-bottom: 40px;

    .field-name-title h2 {
      margin: 20px auto;
      font-family: @pxl-text-font;
      font-size: @font-size-larger;
      color: @kv-college-green-dark;
    }

    .field-name-body {
      #pxl-mixins.wysiwyg-body;

    }

  }
}