/*
 *  Banner content type
 * --------------------------------------------------*/
// Variables
// -------------------------
@pxl-banner-height: 200px;

// Mixins
// -------------------------



// Main settings
// -------------------------
.node-banner {
  width: 100%;
  height: @pxl-banner-height;
  overflow: hidden;
  padding: 0 @carousel-control-width;
  background: @kv-college-green-light none;

  .row {
    display: inline-block;
    vertical-align: middle;

    .field-name-title h2 {
      margin: 10px auto;
      font-family: @pxl-text-font;
      font-size: @font-size-larger;
      color: @kv-college-green-dark;
    }

    .field-name-body {
      #pxl-mixins.wysiwyg-body;

    }

    .field-name-field-picture {
      overflow: visible;
      margin: 0 auto;
      width: auto;

      img {
        height: @pxl-banner-height;
        width: auto;
        max-width: none;
      }
    }

    .field-name-field-banner-links {
      margin: 20px 0;

      .field-items {
        float: right;

        .field-item {
          display: inline-block;

          a {
            #pxl-mixins.three-part-element(@link-big-hlr-left, @link-big-hlr-middle, @link-big-hlr-right, transparent, 50px);
            font-family: @pxl-text-font;
            font-size: @font-size-base;
            color: @kv-college-red;
            padding: 15px 10px;
            line-height: 1;

            &:hover,
            &.active {
              #pxl-mixins.three-part-element(@link-big-dklr-left, @link-big-dklr-middle, @link-big-dklr-right, transparent, 50px);
              color: @kv-college-red-dark;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}