/*
 *  Course content type
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------


// General settings
// -------------------------
.node.node-course {

  .field-name-title {
    display: block;
    word-wrap: break-word;

    @media @tablet {
      display: none;
    }

    h2 {
      font-family: @pxl-text-font-medium;
      font-size: @font-size-larger;
    }

  }

  .field-name-body {
    #pxl-mixins.wysiwyg-body();

    // auf einen blick table
    table.aufeinenblick{
      margin-bottom: 2em;

      caption {
        font-family: @font-family-light;
        font-size: @font-size-large;
        color: @text-color;
      }

      tbody {
        display: block;
        margin: 10px 0;
        padding: 0;
        font-size: @font-size-base;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;

        tr {
          th {
            display: block;
            padding: 10px 0;
            width: 100% !important;
            font-family: @font-family-medium;
            border-bottom: 1px solid transparent;

            @media @tablet {
              display: table-cell;
              width: 35% !important;
            }
          }

          td {
            display: block;
            padding: 10px 0;
            width: 100% !important;
            font-family: @font-family-light;
            border-bottom: 1px solid transparent;

            @media @tablet {
              display: table-cell;
              width: 65% !important;
            }
          }

          &:last-child th,
          &:last-child td {
            border-bottom: none;
          }
        }
      }
    }
  }

}
